//default-font-stack: Arial, "Helvetica Neue", Helvetica, "Liberation Sans", "DejaVu Sans Condensed", sans-serif;
//h123-font-stack: Frutiger, "Arial Narrow", Trebuchet, Helvetica, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", sans-serif;
//nav-font-stack: Frutiger, Trebuchet, Helvetica, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", sans-serif;

// Palette URL: http://paletton.com/#uid=50S0u0kllll5IGNdysDt8e2JS6J 

// aa-light-golden { #FFEED2; }
// ab-mid-golden { #E4C184; }
// ac-dark-golden { #AA8139; }
// ad-going-brown { #704B0A; }
// ae-gone-to-brown { #362200; } 
//
// ba-light-golden-green { #FFF6D2; }
// bb-mid-golden-green { #E4D184; }
// bc-dark-golden-green { #AA9439; }
// bd-going-green { #705C0A; }
// bd-khaki-moss { #362B00; }
//
// ca-peachy-pink { #FFE4D2; }
// cb-peachy-pastel  { #E4AB84; }
// cc-tangy-muddy { #AA6639; }
// cd-rich-mud { #70330A; }
// ce-mahogany-mud { #361600; }

// top right bottom left

html {
}

body {
  background-color: #704B0A ;
  color: #361600 ; // #550000 ; // #354F00 ; // #333;
  font-family: Arial, "Helvetica Neue", Helvetica, "Liberation Sans", "DejaVu Sans Condensed", sans-serif;
  font-size:   1.000em;
  line-height: 1.250em;
  padding: 0.750em;
}

h1, h2, h3, h4, th {
  font-family:  Frutiger, "Arial Narrow", Trebuchet, Helvetica, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", sans-serif;
  font-weight: bold
}

h1 { font-size: 1.500em; line-height: 1.750em; }
h2 { font-size: 1.375em; line-height: 1.625em; }
h3 { font-size: 1.250em; line-height: 1.500em; }
h4, th { font-size: 1.125em; line-height: 1.375em; }


h1, h2 {
  background-color: #E4C184;
  display: inline-block;
  border-radius: 0.5625em ;
  padding: 0 0.3125em 0 0.3125em ;
}

a {
  color: #AA6639;
  &:visited {
    color: #704B0A ;
  }
  &:hover {
    color: #FFF6D2;
    background-color: #362200;
  }
}

table {
  background-color: #E4C184;
  border-collapse: separate;
  margin:  0.1875em 0.125em 0.1875em 0.125em ;
  border-radius: 0.4825em ;
  padding: 0.625em 0.625em 0.625em 0.625em ;
}

th, td {
  margin:  0.1875em 0.125em 0.1875em 0.125em ;
  border:  0 ;
  padding: 0.125em 0.375em 0.125em 0.375em ;
}

tr {
  margin:  0.1875em 0.125em 0.1875em 0.125em ;
  border:  0 ;
  padding: 0.125em 0.125em 0.125em 0.125em ;
}

p, ol, ul, td {
  font-family:  Arial, "Helvetica Neue", Helvetica, "Liberation Sans", "DejaVu Sans Condensed", sans-serif;
  font-size: 0.875em;
  line-height: 1.125em;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


