// Place all the styles related to the Tasklist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// aa-light-golden { #FFEED2; }
// ab-mid-golden { #E4C184; }
// ac-dark-golden { #AA8139; }
// ad-going-brown { #704B0A; }
// ad-gone-to-brown { #362200; }
//
// ba-light-golden-green { #FFF6D2; }
// bb-mid-golden-green { #E4D184; }
// bc-dark-golden-green { #AA9439; }
// bd-going-green { #705C0A; }
// bd-khaki-moss { #362B00; }
//
// ca-peachy-pink { #FFE4D2; }
// cb-peachy-pastel { #E4AB84; }
// cc-tangy-muddy { #AA6639; }
// cd-rich-mud { #70330A; }
// ce-mahogany-mud { #361600; }
//
// top right bottom left

article.tasklist {
  background-color: #E4C184;
  margin:  0.5625em 0.5625em 0.5625em 0.375em ;  
  border:  0 ;
  border-radius: 0.5625em ;
  padding: 0 0 0 0.375em ;
  position: relative;     // probably a bad idea
  left: inherit;          // probably a bad idea
}

form.tasklist {
  background-color: #E4C184;
  margin:  0.5625em 0.5625em 0.5625em 0.375em ;  
  border:  0 ;
  border-radius: 0.5625em ;
  padding: 0.125em 0.125em 0.125em 0.125em ;
}

form.tasklist a {
  margin: 0.125em 0.125em 0.125em 1% ;
  padding: 0 ;
  color: #362200;
  &:visited { color: #362200; }
  &:hover   { 
    color: #361600; 
    background-color: #E4C184; 
  }
}

form.tasklist a button {
  background-color: #FFEED2;
  margin: 0.125em 0 0.125em 0 ;
  border-width: 0 ;
  border-radius: 0.6750em;
  padding: 0.125em 0.375em 0.125em 0.375em ;
  font-size: 1.0625em;
  font-family:  Frutiger, "Arial Narrow", Trebuchet, Helvetica, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", sans-serif;
  line-height: 1.125em;
  &:hover   { 
    color: #361600; 
    background-color: #FFE4D2; // #FFEED2; 
  }
}

h3.tasklist {
  display: inline-block ;
  float: left;          // probably a bad idea
  position: absolute;   // probably a bad idea
  top: 0.0625em;        // probably a bad idea
}

section.tasklist {
  background-color: #FFEED2;
  display: inline-block ;
  margin:  0.3125em 0.25em 0.3125em 0.25em;  
  border-radius: inherit;
  padding: 0 0.0625em 0 0.0625em ;
  position: relative;   // probably a bad idea
  left: 7em;            // probably a bad idea
}

section.tasklist + section.tasklist {
  margin-top:  0;
}



p.tasklist {
  background-color: #FFEED2;
  display: inline-block ;
  min-width: 7.9375em;
  margin:  0 0.375em 0 0.375em ;  
  border:  0 ;
  padding: 0 0.0625em 0.500em 0.0625em ;
}







